
                                              `                ```
                                      ```  ... ````        ``  ``--` ``
                            ``.  .--.  ..``-.-.`      `..````.:. .-.. ```
                             `  ---```.`.` -..`                `.`- `..:. ` --` `
                           .--  `---` ``..                         `...` `.-.`  .--
                   `.``.:.`` `````                                   ... ```.-- `-.
                    ` .--`````.`                                             ....``` --. `
                  ``. ....``` `               ``````.`````-``  ``             `````....` .``
                ` .-.```.```.             ```..---....`.-----``.-.. `            ``...```... `
               `.``.`-.```               ..-.`..:`.--..-::.-.`...`-.-`              . .:..-. .`
              .--.`` .-.`             `.--.`-.....---..`----.--`--`---.``            `.-` ``.`-`
            ` `.`.---.`             `-.--...-.-.-...`.-`..--.`...-.-..:...             `.```--.```
           `-.````...              `...`.`.--``-..........-...-.`.......`..              `...`` .`
           `-..`````              ```..```.--...`...--....-`..--..`.-......`              ```. `.``
          .``-....``              ..`..  ...----`........--....-..`.---.---.              `.`.``.````
         ..-```..`               `-.-.  ``-....-:.-.``..-.........-.....--..                ...````-.
        `---..---.               `--`  ./.---..`--......--:---`---.-..-.---.                -::----..
       `. `.`--.                 `:-. `.-..-.`.---:----..-  ---::----..-..-:                 `- ..`` ..
       .--```.`.`                `--` ---.```    `..:...-.-`   ` `--.--..`-.                 `:.````.--
       .-....-.``                `-.. ..-.        ``..`..-`       ``---`.`.`                  .--......
      ```...--``                  ..` .`..         `-...:-          --.``..`                  ....-...``
      ..` ``  .`                  `-. ..-          .-..`--`         .-.``-..                  .`   `  `.
       ..`..---.                     `---         .``.-...-`        ..:  .                    .--.`..`.-
       ``.`.--`                     ``.`.-`     `-..-. `---.``    `.--.`                        .``..``
      .` `` `--.                  ..`.-.------:-`-..-   .--.-..-..`-:----.-                    `.`   `-:
      `..`.`.-.`                   .:..-``....--:--.     ......-.--..-.`--.                   .-.``..`.`
      `.......```                   ```-:.-....`...` `.` .--..`....-..-.                     ```..`.. .`
        `.`````..                      ..``..``.--.`...``-.`-..--.`.```                      --  `````
       ---.``--..                          `....-..-:.-....`-..---`                          :-````.:--
       `----::`.` `                     .`   `--.--.....---.-``..                           ``/-.---.-
          ```. `--.                     ---.    `...-..---..```   ---                      ---``` ```
         ..-..`.---``                   .-...   .. .``.`.. -`   `-`--                      --`.``-...`
         `.-..-...`.-`                  ....-.     `     ` `    .--:`                   ````.-.--...`
          `.....`` .-`                   ..--`                 `.-..`                  `.`.```...```
            ``` ```.```                  ...-.`  ` `  ``  `   `...`.                 ` `.....` ``
            .--..-.--` --`                ....-``` ```.`  .`` `-..``                ... `-..``  .`
              `..`  ```.`.` .`             ...--:--.`.....`.......               ` `--.``.  .--`
                .......`..` -..              ..`-........-----`-`              ..-` --.``.`--.`
                ``..-``.````-`.` ..`           `.--....`.-``-`            ``. `...`````.....``
                  ``````````...` ... `  `         ````````  `       ``` ``... ``..``` ``````
                      ..````-..` `..`. ..``                       ``.--`.---.  `.``--.-`
                      .``.-.`  ```--:. ..`-.                      -..-` .:-.```  `.--`.`
                            `.:- .--`` `-.-.                      `-.````.-.. .-.`
                            ``-`--.  `..-..` ````            ```.``-.`..`  .`-::-`
                                ```-..---``     `   ``````   `    ``.--..`.` ```
                                  `````..`            `` `          ``.`` ``
                                               #OnlyAllowedUsers
                                          /dev/null before we bust you
